<%- include('../partials/header') %> 
<section id="hero">
    <div id="hero-content">
        <h1 id="welcome" class="text-center">Welcome To HYPE-TALK</h1>
        <h4 class="text-center">Sneaker Release Information</h4>
        <p class="text-center">View Upcoming Releases</p>
        <div id="hero-button-div">
        <a href="#index-container" class="btn" id="hero-link-a">Upcoming Releases</a>
        </div>
    </div>
</section>
<div class="container" id="index-container">
    <h1 id="upcoming-releases" class="">Upcoming Releases</h1>
    <div class="row" id="index-row">
<% sneakers.forEach(s => { %>
        <div class="col-sm-4">
    <a href="/sneakers/<%= s.id %>"><img src="<%= s.sneakerImage %> " alt="">
        <div class="text-justify h4"><%= s.sneakerName %></div>
        <div class="text-justify h5"><%= s.releaseDate %></div>  
    </a>
        </div>
<% }) %> 
    </div>
</div>



<%- include('../partials/footer') %>
