<%- include('../partials/header') %> 
<section id="hero">
    <nav>
        <h1 id="logo">HYPE-<span id="span-talk">TALK</span></h1>
        <% if (user) { %>
            <a href="/logout">LOG OUT</a>
          <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
          <% } %>
    </nav>
    <div id="hero-content">
        <h1 id="welcome" class="text-center h1">Welcome To <span><i>HYPE-TALK</i></span></h1>
        <h3 class="text-center" id="hero-subtext">Sneaker Release Information</h3>
        <!-- <p class="text-center">View Upcoming Releases</p> -->
        <div id="hero-button-div">
        <a href="#index-container" class="btn" id="hero-link-a">Upcoming Releases</a>
        </div>
    </div>
</section>
<div class="container" id="index-container">
    <h1 id="upcoming-releases" class="">Upcoming Releases</h1>
    <div class="row" id="index-row">
<% sneakers.forEach(s => { %>
        <div class="col-sm-4">
    <a href="/sneakers/<%= s.id %>"><img src="<%= s.sneakerImage %> " alt="">
        <div class="text-justify h4"><%= s.sneakerName %></div>
        <div class="text-justify h5"><%= s.releaseDate %></div>  
    </a>
        </div>
<% }) %> 
    </div>
</div>



<%- include('../partials/footer') %>
