<%- include('../partials/header') %> 

<h1 id="upcoming-releases">Upcoming Releases</h1>
<!-- add the correct link path here -->
<% sneakers.forEach(s => { %>
    <a href="/sneakers/<%= s.id %>"><img src="<%= s.sneakerImage %> " alt="">
        <div><%= s.sneakerName %></div>
        <div><%= s.releaseDate %></div>  
    </a>
<% }) %> 



<%- include('../partials/footer') %>
