<%- include('../partials/header') %>
<h1>THIS IS THE SHOW PAGE</h1>

<div>
    <img src="<%= sneaker.sneakerImage %>" alt=""> 
</div>
<div>
    <h3><%= sneaker.sneakerName %></h3>
    <p>Price: $160</p>
    <p>Release Date:<%= sneaker.releaseDate %> </p>
    <p>Style Code:</p>
</div>

<div> <% if (user) { %>
    <form id="add-review-form" method="POST" action="/sneakers/<%= sneaker.id %>/comments">
        <label>Comment:</label>
        <textarea name="commentContent" placeholder="Add text here"></textarea>
        <label>Cop or Drop:</label>
        <select name="copOrDrop">
          <option value="cop">Cop</option>
          <option value="drop">Drop</option>
        </select>
        <input type="submit" value="Add Comment">
      </form>

      <% } else { %>

        <p id="must-login">You have to login in order to comment</p>

        <% } %>

      <% if (sneaker.comments.length) { %>
        <table>
          <thead>
            <tr>
              <th>User</th>
              <th>Date</th>
              <th>Comment</th>
              <th>Cop or Drop</th>
            </tr>
          </thead>
          <tbody>
            <% let total=0 %>
              <% sneaker.comments.forEach(function(c) { %>
                  <tr>
                    <td class="comment-user"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><%= c.userName %></td>
                    <td>
                      <%= c.createdAt.toLocaleDateString() %>
                    </td>
                    <td>
                      <%= c.commentContent %>
                    </td>
                    <td>
                      <%= c.copOrDrop.toUpperCase() %>
                    </td>
                    <td>
                      <% if (user && user._id.equals(c.user)) { %>
                        <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                          <button type="submit">X</button>
                        </form>
                      <% } %>
                      <!-- Later make this only appear when a person clicks the edit button by adding an event listener -->
                      <% if (user && user._id.equals(c.user)) { %>
                        <form action="/comments/<%= c._id %>?_method=PUT" method="POST">
                            <!-- Value attribute is being set to the comment's current text -->
                            <input name="text" value="<%= c.text %>">
                            <button type="submit">UPDATE COMMENT</button>
                          </form>
                        <button>Edit</button>
                      <% } %>
                    </td>
            
        
                  </tr>
                  <% }); %>
          </tbody>
        </table>
        <% } else { %>
          <h5>No Comments Yet</h5>
          <% } %>




</div>




<%- include('../partials/footer') %>