<%- include('../partials/header') %>
<h1>THIS IS THE SHOW PAGE</h1>

<div>
    <img src="<%= sneaker.sneakerImage %>" alt=""> 
</div>
<div>
    <h3><%= sneaker.sneakerName %></h3>
    <p>Price: $160</p>
    <p>Release Date:<%= sneaker.releaseDate %> </p>
    <p>Style Code:</p>
</div>

<div>

    
</div>




<%- include('../partials/footer') %>