<%- include('../partials/header') %>
<nav id="nav-bar-2">
    <a href="/sneakers" id="logo"><h1>HYPE-<span id="span-talk">TALK</span></h1></a>
    <% if (user) { %>
        <a href="/logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
</nav>
<div class="container" id="container-show">
    <div class="row h-100" id="show-row">
        <div class="col-md-6" id="column-show">
<div>
    <img class="" id="sneaker-image" src="<%= sneaker.sneakerImage %>" alt=""> 
</div>
<div id="description">
    <h3 class="h3"><%= sneaker.sneakerName %></h3>
    <p class="h5"> <strong>Release Date:</strong> <%= sneaker.releaseDate %> </p>
    <p class="h5"><%= sneaker.sneakerDetails %> </p>
</div>
    </div>
<div class="col-md-6" id="column-show-2">
    <h3 id="community-talks" class="text-center">Community Talks</h3>
<div id="table"> 
      <% if (sneaker.comments.length) { %>
        <table class="table table-striped mb-4">
          <thead>
            <tr>
              <th scope="col">User</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Comment</th>
              <th scope="row" class="row" id="copordrop">Cop or Drop</th>
            </tr>
          </thead>
          <tbody>
            <% let total=0 %>
              <% sneaker.comments.forEach(function(c) { %>
                  <tr>
                    <td class="comment-user"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><%= c.userName %></td>
                    <td class="">
                      <%= c.createdAt.toLocaleDateString() %>
                    </td>
                    <td class="">
                      <%= c.createdAt.toLocaleTimeString() %>
                    </td>
                    <td>
                      <%= c.commentContent %>
                    </td>
                    <td>
                      <%= c.copOrDrop.toUpperCase() %>
                    </td>
                    <td class="row">
                      <% if (user && user._id.equals(c.user)) { %>
                        <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                          <button type="submit" class="btn btn-danger">X</button>
                        </form>
                      <% } %>
                    </td>
                    <td>
                      <!-- Later make this only appear when a person clicks the edit button by adding an event listener -->
                      <% if (user && user._id.equals(c.user)) { %>
                        <form id="update-comment-form" action="/comments/<%= c._id %>?_method=PUT" method="POST">
                            <!-- Value attribute is being set to the comment's current text -->
                            <input name="text" value="<%= c.text %>">
                            <button type="submit" class="btn btn-success">UPDATE COMMENT</button>
                          </form>
                        <button id="edit-button" type="button" class="btn btn-primary">Edit</button>
                      <% } %>
                    </td>
                    </td>
            
        
                  </tr>
                  <% }); %>
          </tbody>
        </table>
        <% } else { %>
          <h5>No Comments Yet</h5>
          <% } %>

          <% if (user) { %>
            <form id="add-review-form" method="POST" action="/sneakers/<%= sneaker.id %>/comments">
                <div class="form-group">
                <label>Comment:</label>
                <textarea name="commentContent" class="form-control" placeholder="Add text here"></textarea>
                </div>
                <div class="form-group">
                <label>Cop or Drop:</label>
                <select name="copOrDrop" class="form-control">
                  <option value="cop">Cop</option>
                  <option value="drop">Drop</option>
                </select>
                </div>
                <input type="submit" value="Add Comment" class="btn btn-primary">
              </form>
        
              <% } else { %>
        
                <p id="must-login" class="mt-3 text-center btn-danger">You must login, in order to comment</p>
        
                <% } %>




            </div>
        </div>
    </div>
</div>

<script>
    const myVar = 'MY VARIABLE'

    // Grab the elements
    const editBtnEl = document.querySelector('#edit-button')
    const updateCommentFormEl = document.querySelectorAll('#update-comment-form')

    // make the form not display by using a for loop to change each ddisplay to none
    for(let i = 0; i < updateCommentFormEl.length; i++){
    updateCommentFormEl[i].style.display = 'none'
    }

    // on click function for edit btn
    editBtnEl.addEventListener('click', changeDisplay)

    // actual function
    function changeDisplay() {
        for(let i = 0; i < updateCommentFormEl.length; i++){
    updateCommentFormEl[i].style.display = 'block'
    }
    }

</script>


<%- include('../partials/footer') %>